<% content_for :title do %>Productos<% end %>

<div class="row">
  <div class="col-md-12">
     <div class="ibox">
      <div class="ibox-title">
        <h5>Editar Producto</h5>
      </div>
      <div class="ibox-content">
        <%= render "form", producto: @producto %>
      </div>
    </div>
  </div>
</div>
