<% content_for :title do %>Changos<% end %>

<div class="row">
  <div class="col-md-12">
     <div class="ibox">
      <div class="ibox-title">
        <h5>Editar Chango</h5>
      </div>
      <div class="ibox-content">
        <%= render "form", chango: @chango %>
      </div>
    </div>
  </div>
</div>
